* {
  padding: 0;
  margin: 0;
  font-family: "Value Sans Pro";
  box-sizing: border-box;
  line-height: 1.4;
}

html {
  height: 100%;
}

body {
  background-image: linear-gradient(#071b00, #070705);
  color: #fff;
  overflow: hidden;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

img {
  object-position: center;
  object-fit: cover;
}

.hv-zoom {
  &:hover {
    transform: scale(1.2);
  }
}
